body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    text-align: center;
}
li {
    display:inline;
}

table{
    border-collapse:collapse;
    margin: 0;
    padding: 8px;
    height: 100%;
    background-color: rgb(255, 210, 164);
}
td{
    border:1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    text-align: center;
    margin: 0;
    min-height: 300px;
}

ol{
    margin: 0;
    padding: 8px;
    height: 100%;
    background-color: rgb(255, 128, 0);
}

.work {
    color: #334a94;
}
.about{
    color: rgb(100, 87, 34);
}
.contact-container{
    display:flex;
    flex-direction: column;
    align-items: center; /*centers the content horizontally*/
    margin: 1px; 
    background-color: aliceblue;
}
.contact-container table td{
    border: 1px solid #334a94
    padding: 4px;
    text-align: center;
}
.contact{
    color: rgb(90, 48, 145);
}

#stream{
    color: rgb(10, 52, 80);
}
#aboutme{
    font-family: 'Comfortaa', sans-serif;
}
#previousworks{
    font-family: 'Comfortaa', sans-serif;
}
#etsyworks{
    font-family: 'Comfortaa', sans-serif;
}
#wheremoch{
    font-family: 'Comfortaa', sans-serif;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-family: 'Comfortaa', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(34,193,195,1);
}
.header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 128, 0);
}