body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    margin: 0;
    min-height: 300px;
    text-align: center; /*creates a gradient background for the entire webpage*/
}
li {
    display:inline;
}
table, ol{
    margin: 0;
    padding: 8px;
    height: 100%;
}
table{
    border-collapse:collapse;
    background-color: rgb(255, 210, 164);
}
ol{
    background-color: rgb(255, 128, 0);
}
td{
    border:1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}
.work {
    color: #334a94;
}
.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(100, 87, 34);
    background-image: linear-gradient(to right, rgb(253, 180, 45),rgb(255, 210, 164));
    width: 800px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
} /*contains the about me info in a box, centered, with a gradient background separate from the rest of the webpage*/

.contact-container{
    display:flex;
    flex-direction: column;
    align-items: center; /*centers the content horizontally*/
    margin: 1px; 
    background-color: aliceblue;
}
.tablecontainer{
    display:flex;
    flex-direction: column;
    margin: 0.5px; 
    background-color: rgb(116, 190, 255);
    width: 75%;
    overflow: auto;
}

.contact-container table td{
    border:1px solid #334a94
    padding; 3px;
    text-align: center;
}

.contact{
    color: rgb(90, 48, 145);
}

#stream{
    color: rgb(10, 52, 80);
}
#aboutme, #previousworks, #etsyworks, #wheremoch, h1{
    font-family: 'Comfortaa', sans-serif;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-weight: 900;
    text-transform: uppercase;
}
*{
    font-family: Arial, Helvetica, sans-serif; /* makes all the remaining font on the page besides the styled titles the same*/
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(34,193,195,1);
}
.header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 128, 0);
}
.bottommargin{
    margin-bottom: 100px;
}
img{
    max-width: 100%;
    height: auto;
}
